<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form id="resetPasswordForm" action="reset_password.php" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="enter your email" name="email" required readonly>

            <label for="otp">OTP:</label>
            <input type="text" id="otp" placeholder="enter the opt" name="otp" required>

            <label for="new_password">New Password:</label>
            <div class="password-container">
                <input type="password" id="new_password" placeholder="enter your new password" name="new_password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('new_password')"></i>
            </div>

            <label for="confirm_password">Confirm Password:</label>
            <div class="password-container">
                <input type="password" id="confirm_password" placeholder="enter your new password" name="confirm_password" required>
                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm_password')"></i>
            </div>

            <button type="submit">Reset Password</button>
        </form>
    </div>

    <script>
        document.getElementById('email').value = new URLSearchParams(window.location.search).get('email');

        function togglePasswordVisibility(id) {
            var passwordInput = document.getElementById(id);
            var eyeIcon = passwordInput.nextElementSibling;

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
        
        window.addEventListener("load", function() {
            document.body.style.opacity = "1";
        });


    </script>
</body>
</html>
